{{!-- THIS WAS SENDING CORRECTLY ACCORDING TO DEV TOOLS NETWORK TAB BUT NOT SHOWING UP ON THE PAGE.
I DO NOT KNOW HOW TO FIX THIS.
I THINK SOMETHING IS WRONG WITH THE FACT THAT I SEND A RENDERED MODAL FROM
THE SERVER, BUT THE CLIENT ALREADY HAS A MODAL THAT IS BEING USED WITHOUT THE
CORRECT INFO ADDED. NO IDEA HOW TO MAKE IT USE THE CORRECTLY RENDERED MODAL.
GIVING UP AND USING SEPARATE URLS. --}}
{{!-- 
<div class="modal fade comments-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Comments</h4>
            </div>
            <div class="modal-body">
                {{#each note}}
                    <p>{{this.body}}</p>
                {{/each}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> --}}