<div class="container">
    <div class="jumbotron">
        <h1>Get GitHub News</h1>
        <p>
            <a class="btn btn-primary btn-lg saved-btn" role="button" href="/">Home</a>
        </p>
        
    </div>
</div>
{{!-- 
{{#each note}}
<p>{{this.body}}</p>
{{/each}} --}}

<div class="container">
    {{#each note}}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{this.body}}
                <button type="button" class="btn btn-default pull-right delete-comment" data-id={{id}}>Delete Comment</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>