<div class="container">
    <div class="jumbotron">
        <h1>Get GitHub News</h1>
        <p>Scrape, save, and comment on the latest posts from GitHub's Blog</p>
        <p>
            <a class="btn btn-primary btn-lg scrape-btn" role="button">Scrape</a>
            <a class="btn btn-primary btn-lg saved-btn" role="button" href="/saved">Saved Articles</a>
        </p>
        
    </div>
</div>

<div class="container">
    {{#each article}}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a target="_blank" href={{this.link}}><h3 class="panel-title">{{this.title}}</h3></a>
                </div>
                <div class="panel-body">
                    {{this.summary}}
                    <button type="button" class="btn btn-default pull-right save-article" data-id={{id}}>Save Article</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

{{> modal}}